{#
 # Template for 'video' Page Element:
 #}
<div class="video {{ element.display }}">
  <div class="video-container">
  {{ element.blockContent|raw }}
  </div>
  <p class="caption">{{ element.caption }}</p>
</div>
