{#
 # Channel entry template
 # -------------------
 # A default template for channel sections to extend
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% block content %}
  {% block sidebar %}{% endblock %}

  <article>
    <h2>{{ entry.title }}</h2>
    <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
    {{ entry.body }}
  </article>
{% endblock %}
