{% extends 'patterns/index' %}

{% block patterns %}

  <p>Buttons are specified by a <code>.btn</code> class, and should look consistent whether they are a <code>button</code>, <code>a</code>, or <code>input</code> element:</p>
  <p>
    <a href="#" class="btn">Hyperlink</a>
    <button>Button</button>
    <input class="btn" type="submit" value="Submit" />
  </p>

  <p>A primary button can be specified via the <code>.btn-primary</code> class.</p>
  <input class="btn btn-primary" type="submit" value="Primary" />

{% endblock %}
