{#
 # Pattern Library
 # ---------------
 # A good place to manage site styles and reusable patterns
 #}

{% extends "_layout" %}
{% set title = 'Pattern Library' %}
{% set body_class = 'patterns' %}

{#
 # For the pattern library, let's include jQuery at the top so that we
 # can keep any Javascript snippets alongside the markup they go with.
 #}
{% block head_scripts %}

  <!--[if lt IE 9]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script><![endif]-->
  <!--[if gte IE 9]><script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><![endif]-->
  <!--[if !IE]> --><script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- <![endif]-->
  <script src="/bower_components/modernizr/modernizr.js"></script>
{% endblock %}

{# Consequently, footer doesn't need jQuery: #}
{% block footer_scripts %}

  <script>
    // On the patterns page, prevent default on all links that
    // aren't in the topnav or footer:
    $(document).ready(function(){
      $('a').on('click', function(event){
        if ($(this).parents('.topnav, .site-footer').length === 0) {
          event.preventDefault();
        }
      });
    });
  </script>
  <script src="/scripts/main.min.js"></script>
{% endblock %}

{#
 # Page content:
 #}
{% block content %}

  <h1>Pattern Library</h1>

  <hr />

  <nav>
    <h2>Contents</h2>

    <div>
      <ul>
        <li><li><a href="/patterns">Introduction</a></li></li>
        <li><a href="/patterns/typography">Typography</a></li>
        <li><a href="/patterns/forms">Forms</a></li>
        <li><a href="/patterns/buttons">Buttons</a></li>
        <li><a href="/patterns/tables">Tables</a></li>
      </ul>
    </div>
  </nav>

  <hr />

  {% block patterns %}
    <h2>Introduction</h2>
    <p>This pattern library serves several purposes:</p>
    <ul>
      <li>To <strong>document</strong> the patterns in use across the site</li>
      <li>To encourage <strong>reusability</strong> of design elements</li>
      <li>...which in turn leads to better visual <strong>consistency</strong></li>
      <li>To allow easy <strong>testing</strong> of all elements across a range of browsers and screen sizes</li>
    </ul>
  {% endblock %}

{% endblock %}
