/*==========================================================================
 *
 *	GENERAL STYLES
 *
 *==========================================================================*/
body {
	color: $body-text;
}
a {
	color: $link-color;
}
a:hover {
	color: darken($link-color, 20%);
}
