// NEAT GRID
// The variables in this section are Neat parameters
// cf. http://neat.bourbon.io/docs/
$max-width:		em(1200);
$grid-columns:	12;
$gutter:		em(15, 1);
$visual-grid:	false;

// TYPOGRAPHY
$heading-font:	sans-serif;
$body-font:		sans-serif;
$bold:			700;
$medium:		500;
$light:			300;

// COLOURS
$body-text:		#333;
$link-color:	#92C84D;

// MEDIA QUERIES
$tablet:		new-breakpoint(max-width 768px 8);
$mobile:		new-breakpoint(max-width 580px 3);
$smalldesktop:	new-breakpoint(max-width 930px 12);
$shortscreen:	new-breakpoint(max-height 700px 12);
$reallyshortscreen:	new-breakpoint(max-height 550px 12);