body {
  font-family: $ff-primary;
  font-size: 1rem;
  line-height: 1.5;
  color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $link-color;
  transition: color 0.1s ease;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }

  &:hover {
    text-decoration: none;
  }
}
