.topnav {
  border-bottom: solid 1px $border-color;
  margin-bottom: $gutter;

  a {
    display: block;
    height: $gutter * 3;
    line-height: $gutter * 3;
    text-decoration: none;
  }
  h1 {
    @include span-columns(6);
  }
  nav {
    @include span-columns(6);
  }
  ul {
    float: right;
    // Compensate for padding - bring it back in line with the grid:
    margin-right: -1em;
  }
  li {
    display: inline-block;
    text-transform: uppercase;

    a {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
