@mixin container() {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gtr-half;
  padding-right: $gtr-half;

  @include media($medium-screen-up) {
    padding-left: $gtr;
    padding-right: $gtr;
  }
}

.container {
  @include container;
}