/*==========================================================================
 *
 *	GENERAL STYLES
 *
 *==========================================================================*/
body {
	color: $body-text;
}
a {
	color: $link-color;
}
a:hover, a.active {
	color: darken($link-color, 20%);
}
footer {
	border-top: solid 1px $body-text;
}
nav {
	li {
		list-style-type: none;
	}
	ul {
		padding-left: 1em;
	}
	> ul {
		padding-left: 0;
	}
}
.topnav {
	border-bottom: solid 1px $body-text;
	a {
		text-decoration: none;
	}
	h1 {
		@include span-columns(4);
	}
	nav {
		@include span-columns(8);
	}
	ul {
		float: right;
		// Compensate for padding - bring it back in line with the grid:
		margin-right: -1em;
		margin-top: 2em;
	}
	li {
		display: inline-block;
		text-transform: uppercase;
		a {
			padding: 1em;
		}
	}
}

.hidden {
	visibility: hidden;
}