/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  color: #333333;
  font-family: sans-serif;
  font-size: 1.125em;
  line-height: 1.575em; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #333333;
  line-height: 1.25;
  margin: 0; }

h1 {
  font-size: 2.66667em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.77778em; }

h4 {
  font-size: 1.33333em; }

h5 {
  font-size: 1.11111em; }

h6 {
  font-size: 1.125em; }

p {
  margin: 0 0 0.7875em; }

a {
  color: #871a1a;
  transition: color 0.1s linear; }
  a:hover {
    color: #c72626;
    text-decoration: none; }
  a:active, a:focus {
    color: #c72626; }

hr {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  margin: 1.575em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr,
acronym {
  border-bottom: 1px dotted #b3b3b3;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.7875em; }

hgroup {
  margin-bottom: 0.7875em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #b3b3b3;
  color: #595959;
  margin: 1.575em 0;
  padding-left: 0.7875em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  border: 1px solid #b3b3b3;
  margin: 0 0 0.7875em 0;
  padding: 1.575em; }

input,
select {
  display: block;
  font-family: sans-serif;
  font-size: 1.125em; }

label {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.39375em; }
  label.required:after {
    content: " *"; }

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  transition: border-color;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #b3b3b3;
  margin-bottom: 0.7875em;
  padding: 0.525em 0.525em;
  width: 100%; }
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #333333; }
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #871a1a;
    box-shadow: 0 0 5px rgba(114, 22, 22, 0.7); }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.39375em;
  width: auto; }

input[type="file"] {
  margin-bottom: 0.7875em;
  padding-bottom: 0.525em;
  width: 100%; }

select {
  margin-bottom: 1.575em;
  max-width: 100%;
  width: auto; }

.inline-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .inline-form input,
  .inline-form .btn {
    margin-bottom: 0;
    margin-right: 1rem; }
  .inline-form input {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .inline-form .btn {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; }

ul.unstyled, ol.unstyled, nav ul, .pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul, ol {
  margin-bottom: 0.7875em;
  padding-left: 1.575em; }

dl {
  line-height: 1.575em;
  margin-bottom: 0.7875em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.7875em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.7875em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #8c8c8c;
  font-weight: bold;
  padding: 0.7875em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #b3b3b3;
  padding: 0.7875em 0; }

tr, td, th {
  vertical-align: middle; }

html, body {
  height: 100%; }

main {
  background-color: #ffffff;
  padding-bottom: 30px; }

.container {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  position: relative; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.hidden {
  display: none;
  visibility: hidden; }

button,
input[type="submit"],
.btn {
  -webkit-font-smoothing: antialiased;
  background-color: #333;
  border-radius: 0.1875em;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap; }

button,
input[type="submit"],
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  button:hover,
  input[type="submit"]:hover,
  .btn:hover {
    background-color: #666666;
    color: white; }
  button.btn-primary,
  input[type="submit"].btn-primary,
  .btn.btn-primary {
    background-color: #871a1a;
    color: white; }
    button.btn-primary:hover,
    input[type="submit"].btn-primary:hover,
    .btn.btn-primary:hover {
      background-color: #c72626; }

.pagination {
  clear: both;
  margin: 2rem; }
  .pagination a {
    background-color: #ffffff;
    border: solid 1px #b3b3b3;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    line-height: 2rem; }
    .pagination a:hover {
      border-color: #333333; }
    .pagination a.current {
      background-color: #eee; }
  .pagination ul {
    text-align: center; }
  .pagination li {
    display: inline; }
  .pagination span {
    display: none; }

.site-footer {
  border-top: solid 1px #b3b3b3;
  margin-top: 30px;
  padding-top: 30px; }

.topnav {
  border-bottom: solid 1px #b3b3b3;
  margin-bottom: 30px; }
  .topnav a {
    display: block;
    height: 90px;
    line-height: 90px;
    text-decoration: none; }
  .topnav h1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .topnav h1:last-child {
      margin-right: 0; }
  .topnav nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .topnav nav:last-child {
      margin-right: 0; }
  .topnav ul {
    float: right;
    margin-right: -1em; }
  .topnav li {
    display: inline-block;
    text-transform: uppercase; }
    .topnav li a {
      padding-left: 1em;
      padding-right: 1em; }
