fieldset {
  border: 1px solid $border-color;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

input,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: " *";
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include transition(border-color);
  box-sizing: border-box;
  background-color: white;
  border-radius: $base-border-radius;
  border: 1px solid $border-color;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 3) ($base-line-height / 3);
  width: 100%;

  &:hover {
    border-color: $border-color-hover;
  }

  &:focus {
    border-color: $border-color-focus;
    box-shadow: 0 0 5px rgba(darken($border-color-focus, 5), 0.7);
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
  width: auto;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: $base-line-height / 3;
  width: 100%;
}

select {
  margin-bottom: $base-line-height;
  max-width: 100%;
  width: auto;
}

.inline-form {
  display: flex;

  // Ensure inputs and buttons are the same height:
  // (flex will make them the same height, including margin:
  // if the margins differ, so will the heights)
  input,
  .btn {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  input {
    flex: 1 1 auto;
  }

  .btn {
    flex: none;
  }
}
