$max-width : 80rem; // 1280
$gtr       : 1.875rem; // 30
$gtr-half  : 0.9375rem; // 15
$cols      : 12;

$s  : 30em; // 480
$m  : 40em; // 640
$l  : 61.25em; // 980
$xl : 80em; // 1280

//------------------------------------------------------------------------
//  $Media Queries
//------------------------------------------------------------------------

$small-screen-up  : new-breakpoint(min-width $s);
$medium-screen-up  : new-breakpoint(min-width $m);
$large-screen-up  : new-breakpoint(min-width $l);
$extra-large-screen-up : new-breakpoint(min-width $xl);
