html, body {
  height: 100%;
}

main {
  background-color: $main-bg-color;
  padding-bottom: $gutter;
}

.container {
  @include outer-container;
  padding-left: $gutter;
  padding-right: $gutter;
  box-sizing: border-box;
  position: relative;
}
