%unstyled-list {
  margin:  0;
  padding: 0;
  list-style-type: none;
}

ul, ol {
  margin-bottom: $base-line-height / 2;
  padding-left:  $base-line-height;

  &.unstyled {
    @extend %unstyled-list;
  }
}

dl {
  line-height:   $base-line-height;
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top:  $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}

// Navigation lists are always unstyled:
nav {
  ul {
    @extend %unstyled-list;
  }
}
