// Typography
$ff-primary: sans-serif;

$fw-light   : 300;
$fw-regular : 400;
$fw-bold    : 700;

// Colours
$white: #fff;
$black: #000;
$blue: #3a3ccc;

$body-color: $black;
$link-color: $blue;
$link-hover-color: lighten($link-color, 15);
